.userPosts__title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.userPosts__statistics {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  color: teal;
}

.userPosts__grid {
  width: 100%;
}
